.parent {
    background: url(al.jpeg);
    background-size: cover; /* Ensures the background covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-container {
    background: #fff;
    width: 60vw;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.9);
    transform: scale(0.83); 
    transform-origin: center center;
}

.first-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.first-row-center {
    display: flex;
    gap: 20px;
}

.first-row-center-align {
    display: flex;
    justify-content: center;
}

.input-box {
    width: 100%;
}

.main-container h1 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.material-title {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.material-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.material-container img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}

.material-container p {
    text-align: justify;
}


/* .btn {
    margin: 0 auto;
} */

.btn-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.right-btns {
    display: flex;
    gap: 10px;
}

.gif-image {
    width: 400px;  /* Set desired width */
    height: auto;  /* Maintain aspect ratio */
  }

.gif-container {
    display: flex;
    justify-content: center;
}

.pt-10 {
    margin-top: 10px;
}

.spinner-box {
    width: 60vw;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-box-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spinner-box-container h1 {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.sub-titles {
    font-size: 20px;
    font-weight: 600;
}

.sub-titles-center {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.spinner-only {
    display: flex;
    justify-content: center;
}
